* text=auto
*.py text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.wxml text eol=lf
*.wxss text eol=lf
*.png binary
